@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-box{
    display: grid;
    grid-template-columns:  400px 1fr; 
    padding: 20px; 
}

.home-bg{
    background-image: url('./assets/images/bg//bg-1.png');
    width: 100%; 
    height: 550px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.custom-radius{
    border-radius: 10px; 
}

.my-profile{
    width: 350px;
    height: 550px;
    background-color: aliceblue;
    border-radius: 10px; 
    position: sticky;
    top: 5rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 30px;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    height: 150px; 
}
.close-btn{
    background-color: rgb(237, 58, 58);
    color: white;
    transition: all .4s ease-in;
}
.close-btn:hover{
    background: #ffff;
    border: 2px solid rgb(237, 58, 58);
    color: black;
}

.swiper {
    width: 420px;
    height: fit-content;
  }
  
  .swiper-slide { 
    border-radius: 18px; 
    color: #fff;
    transition: all .5s ease-in-out; 
  }
  
.custom-img{
    border-radius: 0 0 50% 50%;
}
 
.active-link{
    background-color: rgb(19, 158, 222);
    color: white;
}


@media screen and (max-width: 700px) {
   
    /* .nav-open{
        display: block;
    }  */
    .hero-box{
        grid-template-columns: 1fr;
    }
    .home-bg{
        width: 100%;
        /* margin-left: .8rem; */
    }
    .positioning{
        margin-left: 5rem;
    }
    .swiper{
        width: 230px;
    }
}

   