@tailwind base;
@tailwind components;
@tailwind utilities;
 
.home-bg{
    background-image: url('./assets/images/bg-1.png');
    width: 95%;
    margin: auto;
    height: 550px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    z-index: 1; 
}
.nav-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-profile{
    width: 350px;
    height: 550px;
    background-color: aliceblue;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.info{
     margin-left: 4rem;
     margin-top: 1rem;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    height: 150px; 
}